@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
body {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.visibility--hidden {
  visibility: hidden;
}

ul {
  padding-left: 0;
}

/*** Text ***/
.paragraph {
  margin: 0;
}

.ly--full-container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
}

.ly--lg-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1380px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.w--100 {
  width: 100%;
}

/*** Gestion des blocks ***/
.d--block {
  display: block !important;
}

.d--none {
  display: none !important;
}

/*** Gestion du flex ***/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items--start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.align-items--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content--space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*** Rows & Column ***/
.row--has-columns-md {
  margin-right: -16px;
  margin-left: -16px;
}

.row--has-columns-md .column {
  padding-right: 16px;
  padding-left: 16px;
}

.row--has-columns-sm {
  margin-right: -5px;
  margin-left: -5px;
}

.row--has-columns-sm .column {
  padding-right: 5px;
  padding-left: 5px;
}

/*** Gestion des margins & padding ***/
.mt--sm {
  margin-top: 32px;
}

.mt--md {
  margin-top: 40px;
}

.mt--lg {
  margin-top: 64px;
}

.mb--xxs {
  margin-bottom: 8px;
}

.mb--xs {
  margin-bottom: 16px;
}

.mb--sm {
  margin-bottom: 32px;
}

.ptb--sm {
  padding-top: 16px;
  padding-bottom: 16px;
}

.search__box {
  position: relative;
}

.search__box input {
  background-color: #E7E7E7;
}

.search__box input::-webkit-input-placeholder {
  color: #000;
  opacity: 0.25;
}

.search__box input:-ms-input-placeholder {
  color: #000;
  opacity: 0.25;
}

.search__box input::-ms-input-placeholder {
  color: #000;
  opacity: 0.25;
}

.search__box input::placeholder {
  color: #000;
  opacity: 0.25;
}

.search__box input:focus {
  background-color: #fff;
  border-color: #D04F4F;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem #fc9595;
          box-shadow: 0 0 0 0.2rem #fc9595;
}

.search__box span {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 1.75rem;
}

/*** Tags ***/
.box__tag__content {
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
}

.box__tag__content span {
  margin-top: 4px;
}

.box__tag__content span:hover {
  cursor: pointer;
}

.box__tag__content.tag--tiers {
  background-color: #3282F7;
}

.box__tag__content.tag--quarts {
  background-color: #68D9A4;
}

.box__tag__content.tag--fifth {
  background-color: #ED6454;
}

.btn--plain {
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 4px;
}

.btn--plain span {
  font-size: 16px;
  margin-left: 8px;
}

.btn--plain.btn--tiers {
  color: #fff;
  font-weight: 700;
  background-color: #3282F7;
}

.btn--plain.btn--quarts {
  color: #fff;
  font-weight: 700;
  background-color: #68D9A4;
}

.btn--plain.btn--fifth {
  color: #fff;
  font-weight: 700;
  background-color: #ED6454;
}

.btn--plain.btn--dropdown {
  width: 570px;
  border-radius: 4px 4px 0 0;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  padding-left: 24px;
  padding-right: 24px;
  max-width: 570px;
  -webkit-transform: translate(5px, 68px) !important;
          transform: translate(5px, 68px) !important;
}

.dropdown-menu.dropdown--tiers {
  background-color: #3282F7;
  border: 0;
  border-radius: 0;
}

.dropdown-menu.dropdown--quarts {
  background-color: #68D9A4;
  border: 0;
  border-radius: 0;
}

.dropdown-menu.dropdown--fifth {
  background-color: #ED6454;
  border: 0;
  border-radius: 0;
}

.dropdown-menu ul {
  list-style: none;
}

.dropdown-menu a {
  text-decoration: none;
}

.dropdown__search-box {
  position: relative;
}

#firstGroup .btn {
  padding-left: 24px;
  padding-right: 24px;
}

#searchDropdown {
  background: transparent;
  border: 0;
  color: white;
  width: 100%;
}

#searchDropdown::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#searchDropdown:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#searchDropdown::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#searchDropdown::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#closeDropDown {
  display: none;
  width: 94%;
}

#searchDeviceDropDown {
  display: none;
  width: 94%;
}

#searchInstrumentDropDown {
  display: none;
  width: 94%;
}

.list__item {
  color: #fff;
  max-width: 128px;
  display: inline-block;
}

.list__item__disabled {
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.list__item:hover {
  color: #fff;
  text-decoration: underline;
}

/*** Card recipes ***/
.card__recipe {
  border-radius: 8px;
}

.card__recipe img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  height: 178px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__recipe span:not(i.far.fa-clock) {
  font-weight: 700;
}

.card__recipe span:not(i.far.fa-clock) i.far.fa-clock {
  margin-right: 8px;
}

.card__recipe__body {
  padding: 24px;
  background-color: #E7E7E7;
  border-radius: 0 0 8px 8px;
  height: 100%;
}

.recipe__list {
  list-style: none;
  padding-left: 0;
  font-size: 0.75rem;
}

.recipe__desc {
  font-size: 0.75rem;
}

.card__recipe__title span {
  text-align: right;
}

/*** Boxes ***/
.t--box-a {
  background-color: #E7E7E7;
  padding: 48px 56px;
  border-radius: 8px;
}

.empty-message {
  display: none;
}

/*** Queries ***/
@media (max-width: 992px) {
  .card__recipe {
    margin-bottom: 32px;
  }
}

@media (max-width: 575px) {
  .dropdown-menu {
    width: 300px;
  }
  .btn--plain {
    margin-bottom: 16px;
  }
  .btn--plain.btn--dropdown {
    width: 300px;
  }
  .card__recipe__title p {
    margin-bottom: 8px;
  }
  .card__recipe__title span {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */