.search__box {
    position: relative;

    input {
        background-color: $color-primary;

        &::placeholder {
            color: $color-text;
            opacity: 0.25;
        }

        &:focus {
            background-color: $white;
            border-color: $color-secondary;
            outline: 0;
            box-shadow: 0 0 0 .2rem $color-secondary-ghost;
        }
    }
    
    span {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 1.75rem;
    }
}

/*** Tags ***/

.box__tag__content {
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 4px;
    color: $white;
    font-weight: 700;

    span {
        margin-top: 4px;
    }

    span:hover {
        cursor: pointer;
    }

    &.tag--tiers {
        background-color: $color-tiers;
    }

    &.tag--quarts  {
        background-color: $color-quarts;
    }

    &.tag--fifth {
        background-color: $color-fifth;
    }
}

.btn--plain {
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 4px;

    span {
        font-size: 16px;
        margin-left: 8px;
    }

    &.btn--tiers {
        color: $white;
        font-weight: 700;
        background-color: $color-tiers;
    }

    &.btn--quarts {
        color: $white;
        font-weight: 700;
        background-color: $color-quarts;
    }

    &.btn--fifth {
        color: $white;
        font-weight: 700;
        background-color: $color-fifth;
    }

    &.btn--dropdown {
        width: 570px;
        border-radius: 4px 4px 0 0;
    }
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 570px;
    transform: translate(5px, 68px)!important;

    &.dropdown--tiers {
        background-color: $color-tiers;
        border: 0;
        border-radius: 0;
    }

    &.dropdown--quarts {
        background-color: $color-quarts;
        border: 0;
        border-radius: 0;
    }

    &.dropdown--fifth {
        background-color: $color-fifth;
        border: 0;
        border-radius: 0;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
}

.dropdown__search-box {
    position: relative;
}

#firstGroup {

    .btn {
        padding-left: 24px;
        padding-right: 24px;
    }
}

#searchDropdown {
    background: transparent;
    border: 0;
    color: white;
    width: 100%;

    &::placeholder {
        color: rgba($color: $white, $alpha: 0.5)
    }
}

#closeDropDown {
    display: none;
    width: 94%;
}

#searchDeviceDropDown {
    display: none;
    width: 94%;
}

#searchInstrumentDropDown {
    display: none;
    width: 94%;
}

.list__item {
    color: $white;
    max-width: 128px;
    display: inline-block;

    &__disabled {
        color: $white-ghost;
        pointer-events: none;
    }

    &:hover {
        color: $white;
        text-decoration: underline;
    }
}

/*** Card recipes ***/
.card__recipe {
    border-radius: 8px;

    img {
        width: 100%;
        border-radius: 8px 8px 0 0;
        height: 178px;
        object-fit: cover;
    }

    span:not(i.far.fa-clock) {
        font-weight: 700;
        
        i.far.fa-clock {
            margin-right: 8px;
        }
    }
}

.card__recipe__body {
    padding: 24px;
    background-color: $color-primary;
    border-radius: 0 0 8px 8px;
    height: 100%;
}

.recipe__list {
    list-style: none;
    padding-left: 0;
    font-size: 0.75rem;
}

.recipe__desc {
    font-size: 0.75rem;
}

.card__recipe__title {
    span {
        text-align: right;
    }
}

/*** Boxes ***/
.t--box-a {
    background-color: $color-primary;
    padding: 48px 56px;
    border-radius: 8px;
}

.empty-message {
    display: none;
}
/*** Queries ***/
@media (max-width: 992px) {
    .card__recipe {
        margin-bottom: 32px;
    }
}

@media (max-width: 575px) {
    .dropdown-menu {
        width: 300px;
    }

	.btn--plain {
        margin-bottom: 16px;

        &.btn--dropdown {
            width: 300px;
        }
    }

    .card__recipe__title {
        p {
            margin-bottom: 8px;
        }

        span {
            text-align: left;
        }
    }
}