.ly--full-container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}

.ly--lg-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1380px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*** Gestion des blocks ***/
.d--block {
    display: block!important;
}

.d--none {
    display: none!important;
}

/*** Gestion du flex ***/
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex--column {
    flex-direction: column;
}

.justify-content--center {
    justify-content: center;
}

.align-items--start {
    align-items: start;
}

.align-items--center {
    align-items: center;
}

.justify-content--space-between {
    justify-content: space-between;
}

/*** Rows & Column ***/
.row--has-columns-md {
    margin-right: -16px;
    margin-left: -16px;

    .column {
        padding-right: 16px;
        padding-left: 16px;
    }
}

.row--has-columns-sm {
    margin-right: -5px;
    margin-left: -5px;

    .column {
        padding-right: 5px;
        padding-left: 5px;
    }
}

/*** Gestion des margins & padding ***/
.mt--sm {
    margin-top: 32px;
}

.mt--md {
    margin-top: 40px;
}

.mt--lg {
    margin-top: 64px;
}

.mb--xxs {
    margin-bottom: 8px;
}

.mb--xs {
    margin-bottom: 16px;
}

.mb--sm {
    margin-bottom: 32px;
}

.ptb--sm {
    padding-top: 16px;
    padding-bottom: 16px;
}